.toast-item {

    .alert {
        margin: 0;
    }

    .toast-item-toolbar {
        display: flex;
        visibility: hidden;
        justify-content: flex-end;
    }

    &:hover > .toast-item-toolbar {
        visibility: visible;
        padding: 0 5px;
    }

    // background-color: #03a9f4;
    // border: 1px solid #d3d3d3;
    color: white;
    padding: 5px;
    position: absolute;
    flex: 1;
    right: 0;
    font-weight: 700;
    width: 100%;
    transition: opacity 100ms ease-out, right 300ms ease-out;
    &:not(:first-child) {
        opacity: 0.7;
    }

 }

 .toast-container {
     position: fixed;
     margin: 10px;
     min-width: 100px;
     min-height: 100px;
     width: 300px;
     position: fixed;
     bottom: 0;
     right: 0;
     z-index: 9999;
}



.toast-item-transition-enter {
  opacity: 0.01;
}

.toast-item-transition-enter.toast-item-transition-enter-active {
  opacity: 1;
}

.toast-item-transition-leave {
  opacity: 1;
}

.toast-item-transition-leave.toast-item-transition-leave-active {
  opacity: 0.01;
  right: -350px;
}

.toast-item-transition-appear {
  opacity: 0.01;
}

.toast-item-transition-appear.toast-item-transition-appear-active {
  opacity: 1;
}